<%= form_for @event, :html => { :class => "form-horizontal event" } do |f| %>

  <% if @event.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :is_carpool, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :is_carpool, :class => 'form-control' %>
    </div>
    <%=f.error_span(:is_carpool) %>
  </div>
  <div class="form-group">
    <%= f.label :is_meetup, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :is_meetup, :class => 'form-control' %>
    </div>
    <%=f.error_span(:is_meetup) %>
  </div>
  <div class="form-group">
    <%= f.label :time, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :time, :class => 'form-control' %>
    </div>
    <%=f.error_span(:time) %>
  </div>
  <div class="form-group">
    <%= f.label :location, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :location, :class => 'form-control' %>
    </div>
    <%=f.error_span(:location) %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%=f.error_span(:description) %>
  </div>
  <div class="form-group">
    <%= f.label :concert_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :concert_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:concert_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                user_events_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
