<%- model_class = Event -%>
<% unless @hide_carpool_list %>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped table-hover">
  <thead>
          <th><%= model_class.human_attribute_name(:id) %></th>
          <th><%= model_class.human_attribute_name(:is_carpool) %></th>
          <th><%= model_class.human_attribute_name(:is_meetup) %></th>
          <th><%= model_class.human_attribute_name(:time) %></th>
          <th><%= model_class.human_attribute_name(:location) %></th>
          <th><%= model_class.human_attribute_name(:description) %></th>
          <th><%= model_class.human_attribute_name(:concert_id) %></th>
          <th><%= model_class.human_attribute_name(:created_at) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr onclick="location.href='<%= user_messages_path(event) %>'">
            <td><%= event.id %></td>
            <td><%= event.is_carpool %></td>
            <td><%= event.is_meetup %></td>
            <% if event.time %>
              <td><%= event.time.strftime("%I:%M%p").downcase %></td>
              <% else %>
              <td><%= event.time %></td>
            <% end %>
            <td><%= event.location %></td>
            <td><%= event.description %></td>
            <td><%= event.concert_id %></td>
            <td><%=l event.created_at %></td>
            <td>
              <%= link_to 'Join', user_messages_path(event, params[:user_id]), class: 'btn btn-default btn-xs'  %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_event_path(event), :class => 'btn btn-default btn-xs' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          event_path(event),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-xs btn-danger' %>
            </td>
        </tr>
<% end %>
    <% end %>
  </tbody>
</table>
<% unless @hide_new_meetup_button %>
<%= button_to 'New Meetup', user_messages_path(params[:user_id]), class: 'btn btn-primary' %>
<% end %>

<% if @carpool %>
  <%= render 'map' %>
<% end %>

<script>
  $(document).ready(function(){
    console.log("hi")
    $("#confirm_button").hide();

    $("#submit").click(function() {
      $("#confirm_button").show();
      $("#submit").hide();
    });

    $(".removeOnFocus").each(function(){
      this.data = new Object(); //TODO don't overwrite previous data
       this.data.value = this.value;

       $(this).focus(function(){
           if (this.value == this.data.value)
               this.value = '';
       });
       $(this).blur(function(){
           if (this.value == '')
               this.value = this.data.value;
       });
    });
  });
</script>
