<p id="notice"><%= notice %></p>

<p>
  <strong>Is carpool:</strong>
  <%= @event.is_carpool %>
</p>

<p>
  <strong>Is meetup:</strong>
  <%= @event.is_meetup %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Concert:</strong>
  <%= @event.concert %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
