<%- model_class = Concert -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:artist) %></th>
      <th><%= model_class.human_attribute_name(:venue) %></th>
      <th><%= model_class.human_attribute_name(:date) %></th>
    </tr>
  </thead>
  <tbody>
    <% @concerts.each do |concert| %>
      <!-- <tr data-link="<%= concert_path(concert) %>"> -->
        <td><%= link_to concert.artist, concert_path(concert, @user) %></td>
        <td><%= concert.venue %></td>
        <td><%= concert.date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_user_concert_path(@user),
            :class => 'btn btn-primary' %>
