<div class="concert-index">
<%- model_class = Concert -%>
<div class="page-header">
  <h1><%= @concert_list_title %></h1>
</div>
<div class="table-container">
<table class="table">
  <thead>
    <tr class="concert_headings">
      <th><%= model_class.human_attribute_name(:artist) %></th>
      <th><%= model_class.human_attribute_name(:venue) %></th>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @concerts.each do |concert| %>
      <tr>
          <td href onclick="location.href='<%= concert_path(current_user.id, concert) %>'"><%= concert.artist %></td>
          <td href onclick="location.href='<%= concert_path(current_user.id, concert) %>'"><%= concert.venue %></td>
          <td href onclick="location.href='<%= concert_path(current_user.id, concert) %>'"><%= concert.date.strftime("%A, %b %d at %I %p") %></td>
          <% unless @hide_add_to_concerts %>
            <td><%= button_to 'Add to Concerts', {action:"create", controller:"concerts", user_id: params[:user_id], artist: concert.artist, venue: concert.venue, date: concert.date, image: concert.image}, {class:"btn btn-xs btn-primary"} %></td>
          <% end %>
          <% unless @hide_buttons %>
          <td><%= link_to 'Remove', concert_path(concert, @user), method: :delete, class: "btn btn-sm btn-primary", id: "remove-btn" %></td>

          <td><%= link_to user_events_path(current_user.id, concert, {carpool: true}) do %><i class="fa fa-car fa-2x"></i><% end %></td>

          <td><%= link_to user_events_path(current_user.id, concert, {carpool: false}) do %><i class="fa fa-users fa-2x"></i><% end %></td>

          <% end %>

      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
