
// alert("<%= j (@json['response']['gigs'][0]['venue']['name']) %>");

// $('#stock-lookup-results').append("<p>Test</p>");
$('#artist_name').val("");

$('#concert-lookup-results').show().append('<tr><th>Venue</th><th>City</th><th></th><th>Date</th></tr>')

hide_spinner();

<% @json['response']['gigs'].each do |item| %>
$('#concert-lookup-results').append('<tr><td><%= item["venue"]["name"] %></td><td><%= item["venue"]["location"]["city"] %></td><td><%= item["startDate"]%></td><td><%= link_to "Add to my concerts", root_path, class: "btn btn-xs btn-primary", method: :post %></td></tr>');
<% end %>
